.adding_car{
}

.adding_element{
	display:inline-block;
}

.car_list_section{
}

.carlist_header{
}

.car_list_header p{
display: inline-block;
}

.filter{
	display: inline-block;
}

.car_list{
}

.car_list p{
	display: inline-block;
}

.rent{
	display: inline-block;
}

.car_list button{
	display: inline-block;
}

.counter{
}

.counter_element{
	display: inline-block;
}

